# Generic ignores
*.bash
*.tar
common.mk
bin/bin
/etc/sv/
guts/
.git/
.gitignore
.gitmodules
lib/lib
lib/systemd
Makefile*
src/
/usr/share/doc/
/usr/share/examples/
/usr/share/man/
/usr/share/info/

# Dynamic ignores
