# Generic ignores
*.bash
*.tar
common.mk
bin/bin
/etc/sv/
guts/
.git/
.gitignore
.gitmodules
lib/lib
lib/systemd
Makefile*
src/
/usr/share/doc/
/usr/share/examples/
/usr/share/man/
/usr/share/info/

# Dynamic ignores
/bin/cat
/bin/cat
/usr/bin/cat
/sbin/cat
/usr/sbin/cat
/bin/chgrp
/bin/chgrp
/usr/bin/chgrp
/sbin/chgrp
/usr/sbin/chgrp
/bin/chmod
/bin/chmod
/usr/bin/chmod
/sbin/chmod
/usr/sbin/chmod
/bin/chown
/bin/chown
/usr/bin/chown
/sbin/chown
/usr/sbin/chown
/bin/cp
/bin/cp
/usr/bin/cp
/sbin/cp
/usr/sbin/cp
/bin/dash
/bin/dash
/usr/bin/dash
/sbin/dash
/usr/sbin/dash
/bin/date
/bin/date
/usr/bin/date
/sbin/date
/usr/sbin/date
/bin/dd
/bin/dd
/usr/bin/dd
/sbin/dd
/usr/sbin/dd
/bin/df
/bin/df
/usr/bin/df
/sbin/df
/usr/sbin/df
/bin/dir
/bin/dir
/usr/bin/dir
/sbin/dir
/usr/sbin/dir
/bin/echo
/bin/echo
/usr/bin/echo
/sbin/echo
/usr/sbin/echo
/bin/false
/bin/false
/usr/bin/false
/sbin/false
/usr/sbin/false
/bin/ln
/bin/ln
/usr/bin/ln
/sbin/ln
/usr/sbin/ln
/bin/ls
/bin/ls
/usr/bin/ls
/sbin/ls
/usr/sbin/ls
/bin/mkdir
/bin/mkdir
/usr/bin/mkdir
/sbin/mkdir
/usr/sbin/mkdir
/bin/mknod
/bin/mknod
/usr/bin/mknod
/sbin/mknod
/usr/sbin/mknod
/bin/mktemp
/bin/mktemp
/usr/bin/mktemp
/sbin/mktemp
/usr/sbin/mktemp
/bin/mv
/bin/mv
/usr/bin/mv
/sbin/mv
/usr/sbin/mv
/bin/pwd
/bin/pwd
/usr/bin/pwd
/sbin/pwd
/usr/sbin/pwd
/bin/readlink
/bin/readlink
/usr/bin/readlink
/sbin/readlink
/usr/sbin/readlink
/bin/rm
/bin/rm
/usr/bin/rm
/sbin/rm
/usr/sbin/rm
/bin/rmdir
/bin/rmdir
/usr/bin/rmdir
/sbin/rmdir
/usr/sbin/rmdir
/bin/sh
/bin/sh
/usr/bin/sh
/sbin/sh
/usr/sbin/sh
/bin/sleep
/bin/sleep
/usr/bin/sleep
/sbin/sleep
/usr/sbin/sleep
/bin/stty
/bin/stty
/usr/bin/stty
/sbin/stty
/usr/sbin/stty
/bin/sync
/bin/sync
/usr/bin/sync
/sbin/sync
/usr/sbin/sync
/bin/touch
/bin/touch
/usr/bin/touch
/sbin/touch
/usr/sbin/touch
/bin/true
/bin/true
/usr/bin/true
/sbin/true
/usr/sbin/true
/bin/uname
/bin/uname
/usr/bin/uname
/sbin/uname
/usr/sbin/uname
/bin/vdir
/bin/vdir
/usr/bin/vdir
/sbin/vdir
/usr/sbin/vdir
/usr/bin/arch
/bin/arch
/usr/bin/arch
/sbin/arch
/usr/sbin/arch
/usr/bin/autoexpect
/bin/autoexpect
/usr/bin/autoexpect
/sbin/autoexpect
/usr/sbin/autoexpect
/usr/bin/autopasswd
/bin/autopasswd
/usr/bin/autopasswd
/sbin/autopasswd
/usr/sbin/autopasswd
/usr/bin/b2sum
/bin/b2sum
/usr/bin/b2sum
/sbin/b2sum
/usr/sbin/b2sum
/usr/bin/base32
/bin/base32
/usr/bin/base32
/sbin/base32
/usr/sbin/base32
/usr/bin/base64
/bin/base64
/usr/bin/base64
/sbin/base64
/usr/sbin/base64
/usr/bin/basename
/bin/basename
/usr/bin/basename
/sbin/basename
/usr/sbin/basename
/usr/bin/basenc
/bin/basenc
/usr/bin/basenc
/sbin/basenc
/usr/sbin/basenc
/usr/bin/chcon
/bin/chcon
/usr/bin/chcon
/sbin/chcon
/usr/sbin/chcon
/usr/bin/cksum
/bin/cksum
/usr/bin/cksum
/sbin/cksum
/usr/sbin/cksum
/usr/bin/comm
/bin/comm
/usr/bin/comm
/sbin/comm
/usr/sbin/comm
/usr/bin/cryptdir
/bin/cryptdir
/usr/bin/cryptdir
/sbin/cryptdir
/usr/sbin/cryptdir
/usr/bin/csplit
/bin/csplit
/usr/bin/csplit
/sbin/csplit
/usr/sbin/csplit
/usr/bin/cut
/bin/cut
/usr/bin/cut
/sbin/cut
/usr/sbin/cut
/usr/bin/decryptdir
/bin/decryptdir
/usr/bin/decryptdir
/sbin/decryptdir
/usr/sbin/decryptdir
/usr/bin/dircolors
/bin/dircolors
/usr/bin/dircolors
/sbin/dircolors
/usr/sbin/dircolors
/usr/bin/dirname
/bin/dirname
/usr/bin/dirname
/sbin/dirname
/usr/sbin/dirname
/usr/bin/dislocate
/bin/dislocate
/usr/bin/dislocate
/sbin/dislocate
/usr/sbin/dislocate
/usr/bin/du
/bin/du
/usr/bin/du
/sbin/du
/usr/sbin/du
/usr/bin/env
/bin/env
/usr/bin/env
/sbin/env
/usr/sbin/env
/usr/bin/expand
/bin/expand
/usr/bin/expand
/sbin/expand
/usr/sbin/expand
/usr/bin/expect
/bin/expect
/usr/bin/expect
/sbin/expect
/usr/sbin/expect
/usr/bin/expect_autoexpect
/bin/expect_autoexpect
/usr/bin/expect_autoexpect
/sbin/expect_autoexpect
/usr/sbin/expect_autoexpect
/usr/bin/expect_autopasswd
/bin/expect_autopasswd
/usr/bin/expect_autopasswd
/sbin/expect_autopasswd
/usr/sbin/expect_autopasswd
/usr/bin/expect_cryptdir
/bin/expect_cryptdir
/usr/bin/expect_cryptdir
/sbin/expect_cryptdir
/usr/sbin/expect_cryptdir
/usr/bin/expect_decryptdir
/bin/expect_decryptdir
/usr/bin/expect_decryptdir
/sbin/expect_decryptdir
/usr/sbin/expect_decryptdir
/usr/bin/expect_dislocate
/bin/expect_dislocate
/usr/bin/expect_dislocate
/sbin/expect_dislocate
/usr/sbin/expect_dislocate
/usr/bin/expect_ftp-rfc
/bin/expect_ftp-rfc
/usr/bin/expect_ftp-rfc
/sbin/expect_ftp-rfc
/usr/sbin/expect_ftp-rfc
/usr/bin/expect_kibitz
/bin/expect_kibitz
/usr/bin/expect_kibitz
/sbin/expect_kibitz
/usr/sbin/expect_kibitz
/usr/bin/expect_lpunlock
/bin/expect_lpunlock
/usr/bin/expect_lpunlock
/sbin/expect_lpunlock
/usr/sbin/expect_lpunlock
/usr/bin/expect_mkpasswd
/bin/expect_mkpasswd
/usr/bin/expect_mkpasswd
/sbin/expect_mkpasswd
/usr/sbin/expect_mkpasswd
/usr/bin/expect_multixterm
/bin/expect_multixterm
/usr/bin/expect_multixterm
/sbin/expect_multixterm
/usr/sbin/expect_multixterm
/usr/bin/expect_passmass
/bin/expect_passmass
/usr/bin/expect_passmass
/sbin/expect_passmass
/usr/sbin/expect_passmass
/usr/bin/expect_rftp
/bin/expect_rftp
/usr/bin/expect_rftp
/sbin/expect_rftp
/usr/sbin/expect_rftp
/usr/bin/expect_rlogin-cwd
/bin/expect_rlogin-cwd
/usr/bin/expect_rlogin-cwd
/sbin/expect_rlogin-cwd
/usr/sbin/expect_rlogin-cwd
/usr/bin/expect_timed-read
/bin/expect_timed-read
/usr/bin/expect_timed-read
/sbin/expect_timed-read
/usr/sbin/expect_timed-read
/usr/bin/expect_timed-run
/bin/expect_timed-run
/usr/bin/expect_timed-run
/sbin/expect_timed-run
/usr/sbin/expect_timed-run
/usr/bin/expect_tknewsbiff
/bin/expect_tknewsbiff
/usr/bin/expect_tknewsbiff
/sbin/expect_tknewsbiff
/usr/sbin/expect_tknewsbiff
/usr/bin/expect_tkpasswd
/bin/expect_tkpasswd
/usr/bin/expect_tkpasswd
/sbin/expect_tkpasswd
/usr/sbin/expect_tkpasswd
/usr/bin/expect_unbuffer
/bin/expect_unbuffer
/usr/bin/expect_unbuffer
/sbin/expect_unbuffer
/usr/sbin/expect_unbuffer
/usr/bin/expect_weather
/bin/expect_weather
/usr/bin/expect_weather
/sbin/expect_weather
/usr/sbin/expect_weather
/usr/bin/expect_xkibitz
/bin/expect_xkibitz
/usr/bin/expect_xkibitz
/sbin/expect_xkibitz
/usr/sbin/expect_xkibitz
/usr/bin/expect_xpstat
/bin/expect_xpstat
/usr/bin/expect_xpstat
/sbin/expect_xpstat
/usr/sbin/expect_xpstat
/usr/bin/expr
/bin/expr
/usr/bin/expr
/sbin/expr
/usr/sbin/expr
/usr/bin/factor
/bin/factor
/usr/bin/factor
/sbin/factor
/usr/sbin/factor
/usr/bin/fmt
/bin/fmt
/usr/bin/fmt
/sbin/fmt
/usr/sbin/fmt
/usr/bin/fold
/bin/fold
/usr/bin/fold
/sbin/fold
/usr/sbin/fold
/usr/bin/ftp-rfc
/bin/ftp-rfc
/usr/bin/ftp-rfc
/sbin/ftp-rfc
/usr/sbin/ftp-rfc
/usr/bin/groups
/bin/groups
/usr/bin/groups
/sbin/groups
/usr/sbin/groups
/usr/bin/head
/bin/head
/usr/bin/head
/sbin/head
/usr/sbin/head
/usr/bin/hostid
/bin/hostid
/usr/bin/hostid
/sbin/hostid
/usr/sbin/hostid
/usr/bin/id
/bin/id
/usr/bin/id
/sbin/id
/usr/sbin/id
/usr/bin/install
/bin/install
/usr/bin/install
/sbin/install
/usr/sbin/install
/usr/bin/join
/bin/join
/usr/bin/join
/sbin/join
/usr/sbin/join
/usr/bin/kibitz
/bin/kibitz
/usr/bin/kibitz
/sbin/kibitz
/usr/sbin/kibitz
/usr/bin/link
/bin/link
/usr/bin/link
/sbin/link
/usr/sbin/link
/usr/bin/logname
/bin/logname
/usr/bin/logname
/sbin/logname
/usr/sbin/logname
/usr/bin/lpunlock
/bin/lpunlock
/usr/bin/lpunlock
/sbin/lpunlock
/usr/sbin/lpunlock
/usr/bin/md5sum
/bin/md5sum
/usr/bin/md5sum
/sbin/md5sum
/usr/sbin/md5sum
/usr/bin/md5sum.textutils
/bin/md5sum.textutils
/usr/bin/md5sum.textutils
/sbin/md5sum.textutils
/usr/sbin/md5sum.textutils
/usr/bin/mkfifo
/bin/mkfifo
/usr/bin/mkfifo
/sbin/mkfifo
/usr/sbin/mkfifo
/usr/bin/multixterm
/bin/multixterm
/usr/bin/multixterm
/sbin/multixterm
/usr/sbin/multixterm
/usr/bin/nice
/bin/nice
/usr/bin/nice
/sbin/nice
/usr/sbin/nice
/usr/bin/nl
/bin/nl
/usr/bin/nl
/sbin/nl
/usr/sbin/nl
/usr/bin/nohup
/bin/nohup
/usr/bin/nohup
/sbin/nohup
/usr/sbin/nohup
/usr/bin/nproc
/bin/nproc
/usr/bin/nproc
/sbin/nproc
/usr/sbin/nproc
/usr/bin/numfmt
/bin/numfmt
/usr/bin/numfmt
/sbin/numfmt
/usr/sbin/numfmt
/usr/bin/od
/bin/od
/usr/bin/od
/sbin/od
/usr/sbin/od
/usr/bin/passmass
/bin/passmass
/usr/bin/passmass
/sbin/passmass
/usr/sbin/passmass
/usr/bin/paste
/bin/paste
/usr/bin/paste
/sbin/paste
/usr/sbin/paste
/usr/bin/pathchk
/bin/pathchk
/usr/bin/pathchk
/sbin/pathchk
/usr/sbin/pathchk
/usr/bin/pinky
/bin/pinky
/usr/bin/pinky
/sbin/pinky
/usr/sbin/pinky
/usr/bin/pr
/bin/pr
/usr/bin/pr
/sbin/pr
/usr/sbin/pr
/usr/bin/printenv
/bin/printenv
/usr/bin/printenv
/sbin/printenv
/usr/sbin/printenv
/usr/bin/printf
/bin/printf
/usr/bin/printf
/sbin/printf
/usr/sbin/printf
/usr/bin/ptx
/bin/ptx
/usr/bin/ptx
/sbin/ptx
/usr/sbin/ptx
/usr/bin/realpath
/bin/realpath
/usr/bin/realpath
/sbin/realpath
/usr/sbin/realpath
/usr/bin/rlogin-cwd
/bin/rlogin-cwd
/usr/bin/rlogin-cwd
/sbin/rlogin-cwd
/usr/sbin/rlogin-cwd
/usr/bin/runcon
/bin/runcon
/usr/bin/runcon
/sbin/runcon
/usr/sbin/runcon
/usr/bin/seq
/bin/seq
/usr/bin/seq
/sbin/seq
/usr/sbin/seq
/usr/bin/sha1sum
/bin/sha1sum
/usr/bin/sha1sum
/sbin/sha1sum
/usr/sbin/sha1sum
/usr/bin/sha224sum
/bin/sha224sum
/usr/bin/sha224sum
/sbin/sha224sum
/usr/sbin/sha224sum
/usr/bin/sha256sum
/bin/sha256sum
/usr/bin/sha256sum
/sbin/sha256sum
/usr/sbin/sha256sum
/usr/bin/sha384sum
/bin/sha384sum
/usr/bin/sha384sum
/sbin/sha384sum
/usr/sbin/sha384sum
/usr/bin/sha512sum
/bin/sha512sum
/usr/bin/sha512sum
/sbin/sha512sum
/usr/sbin/sha512sum
/usr/bin/shred
/bin/shred
/usr/bin/shred
/sbin/shred
/usr/sbin/shred
/usr/bin/shuf
/bin/shuf
/usr/bin/shuf
/sbin/shuf
/usr/sbin/shuf
/usr/bin/sort
/bin/sort
/usr/bin/sort
/sbin/sort
/usr/sbin/sort
/usr/bin/split
/bin/split
/usr/bin/split
/sbin/split
/usr/sbin/split
/usr/bin/stat
/bin/stat
/usr/bin/stat
/sbin/stat
/usr/sbin/stat
/usr/bin/stdbuf
/bin/stdbuf
/usr/bin/stdbuf
/sbin/stdbuf
/usr/sbin/stdbuf
/usr/bin/sum
/bin/sum
/usr/bin/sum
/sbin/sum
/usr/sbin/sum
/usr/bin/tac
/bin/tac
/usr/bin/tac
/sbin/tac
/usr/sbin/tac
/usr/bin/tail
/bin/tail
/usr/bin/tail
/sbin/tail
/usr/sbin/tail
/usr/bin/tee
/bin/tee
/usr/bin/tee
/sbin/tee
/usr/sbin/tee
/usr/bin/test
/bin/test
/usr/bin/test
/sbin/test
/usr/sbin/test
/usr/bin/timed-read
/bin/timed-read
/usr/bin/timed-read
/sbin/timed-read
/usr/sbin/timed-read
/usr/bin/timed-run
/bin/timed-run
/usr/bin/timed-run
/sbin/timed-run
/usr/sbin/timed-run
/usr/bin/timeout
/bin/timeout
/usr/bin/timeout
/sbin/timeout
/usr/sbin/timeout
/usr/bin/tknewsbiff
/bin/tknewsbiff
/usr/bin/tknewsbiff
/sbin/tknewsbiff
/usr/sbin/tknewsbiff
/usr/bin/tkpasswd
/bin/tkpasswd
/usr/bin/tkpasswd
/sbin/tkpasswd
/usr/sbin/tkpasswd
/usr/bin/tr
/bin/tr
/usr/bin/tr
/sbin/tr
/usr/sbin/tr
/usr/bin/truncate
/bin/truncate
/usr/bin/truncate
/sbin/truncate
/usr/sbin/truncate
/usr/bin/tsort
/bin/tsort
/usr/bin/tsort
/sbin/tsort
/usr/sbin/tsort
/usr/bin/tty
/bin/tty
/usr/bin/tty
/sbin/tty
/usr/sbin/tty
/usr/bin/unbuffer
/bin/unbuffer
/usr/bin/unbuffer
/sbin/unbuffer
/usr/sbin/unbuffer
/usr/bin/unexpand
/bin/unexpand
/usr/bin/unexpand
/sbin/unexpand
/usr/sbin/unexpand
/usr/bin/uniq
/bin/uniq
/usr/bin/uniq
/sbin/uniq
/usr/sbin/uniq
/usr/bin/unlink
/bin/unlink
/usr/bin/unlink
/sbin/unlink
/usr/sbin/unlink
/usr/bin/users
/bin/users
/usr/bin/users
/sbin/users
/usr/sbin/users
/usr/bin/wc
/bin/wc
/usr/bin/wc
/sbin/wc
/usr/sbin/wc
/usr/bin/who
/bin/who
/usr/bin/who
/sbin/who
/usr/sbin/who
/usr/bin/whoami
/bin/whoami
/usr/bin/whoami
/sbin/whoami
/usr/sbin/whoami
/usr/bin/xkibitz
/bin/xkibitz
/usr/bin/xkibitz
/sbin/xkibitz
/usr/sbin/xkibitz
/usr/bin/xpstat
/bin/xpstat
/usr/bin/xpstat
/sbin/xpstat
/usr/sbin/xpstat
/usr/bin/yes
/bin/yes
/usr/bin/yes
/sbin/yes
/usr/sbin/yes
/usr/libexec/coreutils/libstdbuf.so
/usr/sbin/chroot
/bin/chroot
/usr/bin/chroot
/sbin/chroot
/usr/sbin/chroot
/usr/share/doc/coreutils/AUTHORS
/usr/share/doc/coreutils/changelog.Debian.gz
/usr/share/doc/coreutils/copyright
/usr/share/doc/coreutils/NEWS.Debian.gz
/usr/share/doc/coreutils/NEWS.gz
/usr/share/doc/coreutils/README.Debian
/usr/share/doc/coreutils/README.gz
/usr/share/doc/coreutils/THANKS.gz
/usr/share/doc/coreutils/TODO.gz
/usr/share/doc/dash/changelog.Debian.gz
/usr/share/doc/dash/copyright
/usr/share/doc/dash/NEWS.Debian.gz
/usr/share/doc/dash/README.Debian.diet
/usr/share/doc/dash/README.source
/usr/share/doc/expect/changelog.Debian.gz
/usr/share/doc/expect/copyright
/usr/share/doc/expect/FAQ.gz
/usr/share/doc/expect/NEWS.Debian.gz
/usr/share/doc/expect/NEWS.gz
/usr/share/doc/expect/README.gz
/usr/share/info/coreutils.info.gz
/usr/share/lintian/overrides/dash
/usr/share/locale/af/LC_TIME/coreutils.mo
/usr/share/locale/be/LC_TIME/coreutils.mo
/usr/share/locale/bg/LC_TIME/coreutils.mo
/usr/share/locale/ca/LC_TIME/coreutils.mo
/usr/share/locale/cs/LC_TIME/coreutils.mo
/usr/share/locale/da/LC_TIME/coreutils.mo
/usr/share/locale/de/LC_TIME/coreutils.mo
/usr/share/locale/el/LC_TIME/coreutils.mo
/usr/share/locale/eo/LC_TIME/coreutils.mo
/usr/share/locale/es/LC_TIME/coreutils.mo
/usr/share/locale/et/LC_TIME/coreutils.mo
/usr/share/locale/eu/LC_TIME/coreutils.mo
/usr/share/locale/fi/LC_TIME/coreutils.mo
/usr/share/locale/fr/LC_TIME/coreutils.mo
/usr/share/locale/ga/LC_TIME/coreutils.mo
/usr/share/locale/gl/LC_TIME/coreutils.mo
/usr/share/locale/hr/LC_TIME/coreutils.mo
/usr/share/locale/hu/LC_TIME/coreutils.mo
/usr/share/locale/ia/LC_TIME/coreutils.mo
/usr/share/locale/id/LC_TIME/coreutils.mo
/usr/share/locale/it/LC_TIME/coreutils.mo
/usr/share/locale/ja/LC_TIME/coreutils.mo
/usr/share/locale/kk/LC_TIME/coreutils.mo
/usr/share/locale/ko/LC_TIME/coreutils.mo
/usr/share/locale/lg/LC_TIME/coreutils.mo
/usr/share/locale/lt/LC_TIME/coreutils.mo
/usr/share/locale/ms/LC_TIME/coreutils.mo
/usr/share/locale/nb/LC_TIME/coreutils.mo
/usr/share/locale/nl/LC_TIME/coreutils.mo
/usr/share/locale/pl/LC_TIME/coreutils.mo
/usr/share/locale/pt_BR/LC_TIME/coreutils.mo
/usr/share/locale/pt/LC_TIME/coreutils.mo
/usr/share/locale/ro/LC_TIME/coreutils.mo
/usr/share/locale/ru/LC_TIME/coreutils.mo
/usr/share/locale/sk/LC_TIME/coreutils.mo
/usr/share/locale/sl/LC_TIME/coreutils.mo
/usr/share/locale/sr/LC_TIME/coreutils.mo
/usr/share/locale/sv/LC_TIME/coreutils.mo
/usr/share/locale/tr/LC_TIME/coreutils.mo
/usr/share/locale/uk/LC_TIME/coreutils.mo
/usr/share/locale/vi/LC_TIME/coreutils.mo
/usr/share/locale/zh_CN/LC_TIME/coreutils.mo
/usr/share/locale/zh_TW/LC_TIME/coreutils.mo
/usr/share/man/man1/arch.1.gz
/usr/share/man/man1/autoexpect.1.gz
/usr/share/man/man1/b2sum.1.gz
/usr/share/man/man1/base32.1.gz
/usr/share/man/man1/base64.1.gz
/usr/share/man/man1/basename.1.gz
/usr/share/man/man1/basenc.1.gz
/usr/share/man/man1/cat.1.gz
/usr/share/man/man1/chcon.1.gz
/usr/share/man/man1/chgrp.1.gz
/usr/share/man/man1/chmod.1.gz
/usr/share/man/man1/chown.1.gz
/usr/share/man/man1/cksum.1.gz
/usr/share/man/man1/comm.1.gz
/usr/share/man/man1/cp.1.gz
/usr/share/man/man1/cryptdir.1.gz
/usr/share/man/man1/csplit.1.gz
/usr/share/man/man1/cut.1.gz
/usr/share/man/man1/dash.1.gz
/usr/share/man/man1/date.1.gz
/usr/share/man/man1/dd.1.gz
/usr/share/man/man1/decryptdir.1.gz
/usr/share/man/man1/df.1.gz
/usr/share/man/man1/dir.1.gz
/usr/share/man/man1/dircolors.1.gz
/usr/share/man/man1/dirname.1.gz
/usr/share/man/man1/dislocate.1.gz
/usr/share/man/man1/du.1.gz
/usr/share/man/man1/echo.1.gz
/usr/share/man/man1/env.1.gz
/usr/share/man/man1/expand.1.gz
/usr/share/man/man1/expect.1.gz
/usr/share/man/man1/expect_autoexpect.1.gz
/usr/share/man/man1/expect_cryptdir.1.gz
/usr/share/man/man1/expect_decryptdir.1.gz
/usr/share/man/man1/expect_dislocate.1.gz
/usr/share/man/man1/expect_kibitz.1.gz
/usr/share/man/man1/expect_mkpasswd.1.gz
/usr/share/man/man1/expect_multixterm.1.gz
/usr/share/man/man1/expect_passmass.1.gz
/usr/share/man/man1/expect_tknewsbiff.1.gz
/usr/share/man/man1/expect_unbuffer.1.gz
/usr/share/man/man1/expect_xkibitz.1.gz
/usr/share/man/man1/expr.1.gz
/usr/share/man/man1/factor.1.gz
/usr/share/man/man1/false.1.gz
/usr/share/man/man1/fmt.1.gz
/usr/share/man/man1/fold.1.gz
/usr/share/man/man1/groups.1.gz
/usr/share/man/man1/head.1.gz
/usr/share/man/man1/hostid.1.gz
/usr/share/man/man1/id.1.gz
/usr/share/man/man1/install.1.gz
/usr/share/man/man1/join.1.gz
/usr/share/man/man1/kibitz.1.gz
/usr/share/man/man1/link.1.gz
/usr/share/man/man1/ln.1.gz
/usr/share/man/man1/logname.1.gz
/usr/share/man/man1/ls.1.gz
/usr/share/man/man1/md5sum.1.gz
/usr/share/man/man1/md5sum.textutils.1.gz
/usr/share/man/man1/mkdir.1.gz
/usr/share/man/man1/mkfifo.1.gz
/usr/share/man/man1/mknod.1.gz
/usr/share/man/man1/mktemp.1.gz
/usr/share/man/man1/multixterm.1.gz
/usr/share/man/man1/mv.1.gz
/usr/share/man/man1/nice.1.gz
/usr/share/man/man1/nl.1.gz
/usr/share/man/man1/nohup.1.gz
/usr/share/man/man1/nproc.1.gz
/usr/share/man/man1/numfmt.1.gz
/usr/share/man/man1/od.1.gz
/usr/share/man/man1/passmass.1.gz
/usr/share/man/man1/paste.1.gz
/usr/share/man/man1/pathchk.1.gz
/usr/share/man/man1/pinky.1.gz
/usr/share/man/man1/pr.1.gz
/usr/share/man/man1/printenv.1.gz
/usr/share/man/man1/printf.1.gz
/usr/share/man/man1/ptx.1.gz
/usr/share/man/man1/pwd.1.gz
/usr/share/man/man1/readlink.1.gz
/usr/share/man/man1/realpath.1.gz
/usr/share/man/man1/rm.1.gz
/usr/share/man/man1/rmdir.1.gz
/usr/share/man/man1/runcon.1.gz
/usr/share/man/man1/seq.1.gz
/usr/share/man/man1/sh.1.gz
/usr/share/man/man1/sha1sum.1.gz
/usr/share/man/man1/sha224sum.1.gz
/usr/share/man/man1/sha256sum.1.gz
/usr/share/man/man1/sha384sum.1.gz
/usr/share/man/man1/sha512sum.1.gz
/usr/share/man/man1/shred.1.gz
/usr/share/man/man1/shuf.1.gz
/usr/share/man/man1/sleep.1.gz
/usr/share/man/man1/sort.1.gz
/usr/share/man/man1/split.1.gz
/usr/share/man/man1/stat.1.gz
/usr/share/man/man1/stdbuf.1.gz
/usr/share/man/man1/stty.1.gz
/usr/share/man/man1/sum.1.gz
/usr/share/man/man1/sync.1.gz
/usr/share/man/man1/tac.1.gz
/usr/share/man/man1/tail.1.gz
/usr/share/man/man1/tee.1.gz
/usr/share/man/man1/test.1.gz
/usr/share/man/man1/timeout.1.gz
/usr/share/man/man1/tknewsbiff.1.gz
/usr/share/man/man1/touch.1.gz
/usr/share/man/man1/tr.1.gz
/usr/share/man/man1/true.1.gz
/usr/share/man/man1/truncate.1.gz
/usr/share/man/man1/tsort.1.gz
/usr/share/man/man1/tty.1.gz
/usr/share/man/man1/uname.1.gz
/usr/share/man/man1/unbuffer.1.gz
/usr/share/man/man1/unexpand.1.gz
/usr/share/man/man1/uniq.1.gz
/usr/share/man/man1/unlink.1.gz
/usr/share/man/man1/users.1.gz
/usr/share/man/man1/vdir.1.gz
/usr/share/man/man1/wc.1.gz
/usr/share/man/man1/who.1.gz
/usr/share/man/man1/whoami.1.gz
/usr/share/man/man1/xkibitz.1.gz
/usr/share/man/man1/yes.1.gz
/usr/share/man/man8/chroot.8.gz
/usr/share/menu/dash
